<div class="row form-container">
    <div class="col-lg-4 offset-lg-4">
      <div class="card bg-light mb-3" style="max-width: 5000rem;">
        <div class="card-header text-center">Agregar Conglomerado</div>
        <div class="card-body">
          <form>
            <input type="text" class="form-control" placeholder="Ingrese el identificador" />
            <input type="text" class="form-control mt-4" placeholder="Ingrese la Fecha de creación" />
            <input type="text" class="form-control mt-4" placeholder="Ingrese la Región" />
            <input type="text" class="form-control mt-4" placeholder="Ingrese el Municipio" />
  
            <label class="mt-4">Latitud</label>
            <input type="text" class="form-control" placeholder="Ingrese la Latitud" />
  
            <div class="form-group mt-4">
              <label>Longitud</label>
              <input type="text" class="form-control" placeholder="Ingrese la Longitud" />
            </div>
  
            <div class="row mt-4 text-center">
              <div class="col-lg-6">
                <a href="/ideam" class="btn btn-secondary w-100">Volver</a>
              </div>
              <div class="col-lg-6">
                <button type="submit" class="btn btn-success w-100">Aceptar</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>