body {
  padding-bottom: 200px; /* o el valor suficiente para que no tape al footer */
}

.footer-clean {
  padding: 50px 0 ;
  background: rgba(0, 0, 0); 
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  color: #ffffff;
  z-index: 10;
  position: relative;
}

.footer-logo {
  width: 60px;
  height: auto;
  margin-bottom: 10px;
  display: block;
  margin-left: center;
}

.footer-title {
  text-align: center;
  margin-top: 0;
  font-weight: bold;
  font-size: 18px;
  white-space: nowrap; /* â† evita que el texto se divida */

}

.item.text-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.footer-clean h3 {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 16px;
}

.footer-clean ul {
  padding: 0;
  list-style: none;
  line-height: 1.6;
  font-size: 14px;
  margin-bottom: 0;
}

.footer-clean ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer-clean ul a:hover {
  opacity: 1;
}

.footer-clean .item.social {
  text-align: right;
}

@media (max-width: 767px) {
  .footer-clean .item {
    text-align: center;
    padding-bottom: 20px;
  }

  .footer-clean .item.social {
    text-align: center;
  }
}

.footer-clean .item.social > a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin-left: 10px;
  margin-top: 22px;
  color: inherit;
  opacity: 0.75;
}

.footer-clean .item.social > a:hover {
  opacity: 0.9;
}

@media (max-width: 991px) {
  .footer-clean .item.social > a {
    margin-top: 40px;
  }
}

@media (max-width: 767px) {
  .footer-clean .item.social > a {
    margin-top: 10px;
  }
}

.footer-clean .copyright {
  margin-top: 14px;
  margin-bottom: 0;
  font-size: 13px;
  opacity: 0.6;
}
