<main class="map-container">
  <h1>Mapa de Conglomerados</h1>

  <!-- Filtro por región -->
  <div>
    <label for="region-filter">Filtrar por Región:</label>
    <select id="region-filter" (change)="onRegionChange($event)">
      <option value="">Todas las Regiones</option>
      <option *ngFor="let region of regiones" [value]="region">{{ region }}</option>
    </select>
  </div>

  <!-- Mapa -->
  <div id="map"></div>

  <!-- Panel de información -->
  <div id="info-panel">
    <h2>Información del Conglomerado</h2>
    <p><strong>Identificador: </strong> <span id="zona-nombre">Selecciona un marcador</span></p>
    <p><strong>Fecha de Creación: </strong> <span id="zona-fecha-creacion">-</span></p>
    <p><strong>Región: </strong> <span id="zona-region">-</span></p>
    <p><strong>Municipio: </strong> <span id="zona-municipio">-</span></p>
    <p><strong>Radio: </strong> <span id="zona-radio">-</span></p>
    <!--<p><strong>Especies Encontradas:</strong></p>-->
    <button>Mostrar Especies</button>
    <ul id="especies-lista"></ul>

  </div>
</main>

<!-- Cargar Google Maps API -->
<!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD2A5gNXoB8-TYjCQJF7o9oEa3_B_EufKk&callback=initMap" async defer></script> -->
