/* Contenedor general del componente */
.map-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 20px;
  min-height: 100vh;
  /*background: linear-gradient(to bottom right, #f5f7fa, #c3cfe2);*/
  background: url('/imagenes/fondo.jpg') no-repeat center center;
  box-sizing: border-box;
  margin-top: 60px;
  color: #f5f2f2;
  font-family: sans-serif; /* Fuente de ejemplo */
  font-weight: bold; /* negrilla */
}

/* Título */
.map-container h1 {
  font-size: 28px;
  color: #fafbfc;
  margin-bottom: 20px;
  font-weight: bold;
}

/* Recuadro alargado con fondo negro semi-transparente y texto naranja */
.instruction-box {
  background-color: rgba(0, 0, 0, 0.3);  /* negro más transparente */
  border-radius: 10px;
  padding: 15px 20px;
  max-width: 1100px;
  color: rgb(204, 206, 212);
  font-family: Arial, sans-serif;
  line-height: 1.1;
  user-select: text;
  margin: 10px auto;
  box-sizing: border-box;
}



button {
  background: #68ea98;
  color: #fff;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  border-radius: 8px;
}



/* Mapa */
#map {
  width: 100%;
  max-width: 1000px;
  height: 500px;
  border-radius: 12px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
  margin-bottom: 30px;
  z-index: 0;
}

#region-filter {
  padding: 10px 15px;
  font-size: 14px;
  font-weight: bold; /* negrilla */
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #2d2c2c;
  opacity: 0.5;
  transition: border-color 0.3s ease-in-out;
  width: 250px; /* Ajuste el tamaño del select */
  margin-bottom: 10px;
  
}

/* Panel de información */
#info-panel {
  background: rgba(0, 0, 0, 0.5); /* fondo semi-transparente al 50% */
  /* opacity: 0.5;  <-- quitar esta línea */
  border-radius: 12px;
  padding: 24px 28px;
  width: 100%;
  max-width: 1000px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

#info-panel h2 {
  font-size: 20px;
  margin-bottom: 16px;
  color: #ffffff;      /* texto blanco */
  font-weight: bold;   /* negrita */
}

#info-panel p,
#info-panel ul {
  margin: 6px 0;
  font-size: 15px;
  color: #ffffff;      /* texto blanco */
  font-weight: bold;   /* negrita */
}

#info-panel strong {
  color: #ffffff;      /* texto blanco */
  font-weight: bold;   /* negrita */
}

#info-panel ul {
  padding-left: 20px;
}

#info-panel li {
  margin-bottom: 4px;
}


/* Estilos para el círculo en el mapa */
#map .google-map-circle {
  border: 1px solid #FF0000;
  border-radius: 50%;
  opacity: 0.35;
  background-color: #FF0000;
}
