<footer class="container-fluid footer-glass">
  <div class="row py-4 px-3 px-md-5">
    <div class="col-md-3 mb-4 mb-md-0 ps-md-4">
      <!--Redes sociales-->
      <h3 class="text-white mb-4 glass-title">Redes Sociales</h3>
      <ul class="list-unstyled">
        <li class="mb-3 hover-effect">
          <a href="https://www.facebook.com" target="_blank" class="text-white-50 text-decoration-none d-flex align-items-center">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/51/Facebook_f_logo_%282019%29.svg/960px-Facebook_f_logo_%282019%29.svg.png?20231203063624" alt="Facebook" class="social-icon me-3">
            Facebook
          </a>
        </li>
        <li class="mb-3 hover-effect">
          <a href="https://x.com" target="_blank" class="text-white-50 text-decoration-none d-flex align-items-center">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2d/Twitter_X.png/1200px-Twitter_X.png?20230729154337" alt="Twitter" class="social-icon me-3">
            Twitter
          </a>
        </li>
        <li class="mb-3 hover-effect">
          <a href="https://www.instagram.com" target="_blank" class="text-white-50 text-decoration-none d-flex align-items-center">
            <img src="https://upload.wikimedia.org/wikipedia/commons/9/95/Instagram_logo_2022.svg" alt="Instagram" class="social-icon me-3">
            Instagram
          </a>
        </li>
        <li class="hover-effect">
          <a href="https://www.linkedin.com" target="_blank" class="text-white-50 text-decoration-none d-flex align-items-center">
            <img src="https://upload.wikimedia.org/wikipedia/commons/7/7e/LinkedIn_PNG16.png?20230803134852" alt="LinkedIn" class="social-icon me-3">
            LinkedIn
          </a>
        </li>
      </ul>
    </div>
    <!--Creadores-->
    <div class="col-md-3 mb-4 mb-md-0 no-hover-section">
      <h3 class="text-white mb-4 glass-title">Creadores</h3>
      <ul class="list-unstyled">
        <li class="mb-3 text-white">Angel Eduardo Avendaño</li>
        <li class="mb-3 text-white">Kevin Pinto</li>
        <li class="text-white">Sebastian Mayorga</li>
      </ul>
    </div>

    <!--Contactanos-->
    <div class="col-md-3 mb-4 mb-md-0 text-center text-md-start">
      <h3 class="text-white mb-4 glass-title">Contáctanos</h3>
      <ul class="list-unstyled">
        <li class="mb-3 text-white">infoinventarioforestal.com</li>
        <li class="mb-3 text-white">+123 456 7890</li>
        <li class="text-white">Bucaramanga, Santander</li>
      </ul>
    </div>

    <!--Copy-->

    <div class="col-12 text-center mt-4">
      <h3 class="text-white mb-4 glass-title"></h3>
      <p class="text-white mb-1">&copy; 2025 Inventario Forestal. Todos los derechos reservados.</p>
      <p class="text-white">Bucaramanga, Santander, Colombia.</p>
    </div>
  </div>
</footer>