<div class="background-wrapper">
  <div class="form-container">
    <h1 class="form-title">Registro de Árboles en Investigación</h1>

    <form [formGroup]="form" (ngSubmit)="guardarMuestra()" class="formulario" novalidate>
      <!-- Conglomerado -->
      <div class="form-group">
        <label>Conglomerado*</label>
        <app-dropdown
          [labelOption]="'label'"
          [valueOption]="'value'"
          [options]="conglomerado"
          [selectedValue]="form.get('id_conglomerado')?.value"
          (select)="onConglomeradoSeleccionado($event)">
        </app-dropdown>
        <small class="text-danger" *ngIf="form.get('id_conglomerado')?.invalid && form.get('id_conglomerado')?.touched">
          Conglomerado es requerido
        </small>
      </div>

      <!-- Subparcela -->
      <div class="form-group">
        <label>Subparcela*</label>
        <app-dropdown
          [labelOption]="'label'"
          [valueOption]="'value'"
          [options]="subparcelasFiltradas"
          [selectedValue]="form.get('id_subparcela')?.value"
          (select)="onSubparcelaSeleccionada($event)">
        </app-dropdown>
        <small class="text-danger" *ngIf="form.get('id_subparcela')?.invalid && form.get('id_subparcela')?.touched">
          Subparcela es requerida
        </small>
      </div>

      <!-- Especie -->
      <div class="form-group">
        <label>Especie</label>
        <app-dropdown
          [labelOption]="'label'"
          [valueOption]="'value'"
          [options]="especie"
          [selectedValue]="form.get('id_especie')?.value"
          (select)="onEspecieSeleccionada($event)">
        </app-dropdown>
        <small class="text-danger" *ngIf="form.get('id_especie')?.invalid && form.get('id_especie')?.touched">
          Especie es requerida
        </small>
      </div>

      <!-- Altura -->
      <div class="form-group">
        <label>Altura (m)*</label>
        <input type="number" class="form-control" formControlName="altura_mt" step="0.01">
        <small class="text-danger" *ngIf="form.get('altura_mt')?.invalid && form.get('altura_mt')?.touched">
          Altura es requerida
        </small>
      </div>

      <!-- Diámetro -->
      <div class="form-group">
        <label>Diámetro (cm)*</label>
        <input type="number" class="form-control" formControlName="diametro_cm" step="0.01">
        <small class="text-danger" *ngIf="form.get('diametro_cm')?.invalid && form.get('diametro_cm')?.touched">
          Diámetro es requerido
        </small>
      </div>

      <!-- Coordenadas -->
      <div class="form-group">
        <label for="coordenadas">Coordenadas*</label>
        <input id="coordenadas" formControlName="coordenadas" type="text" class="form-control" placeholder="Ej: 5.635358, -76.594291" />
        <small class="text-danger" *ngIf="form.get('coordenadas')?.invalid && form.get('coordenadas')?.touched">
          Formato inválido. Use: número, número
        </small>
      </div>

        <!-- Observaciones -->
        <div class="form-group">
          <label>Observaciones</label>
          <textarea class="form-control" formControlName="observaciones" rows="3"></textarea>
        </div>

        <!-- Identificador -->
        <div class="form-group">
          <label>Identificador</label>
          <textarea class="form-control" formControlName="identificador" rows="1"></textarea>
        </div>

        <div class="form-group">
          <label>Tipo de muestra</label>
          <select class="form-control" formControlName="tipo">
            <option value="">Seleccione tipo</option>
            <option value="hoja">Hoja</option>
            <option value="ramita">Ramita</option>
            <option value="semilla">Semilla</option>
          </select>

          <div *ngIf="form.get('tipo')?.hasError('required') && form.get('tipo')?.touched" class="text-danger">
            El tipo es obligatorio si hay identificador.
          </div>
        </div>


        <div class="form-group">
          <label>Fecha de recolección</label>
          <input type="date" class="form-control" formControlName="fecha_recoleccion" />

          <div *ngIf="form.get('fecha_recoleccion')?.hasError('required') && form.get('fecha_recoleccion')?.touched" class="text-danger">
            La fecha de recolección es obligatoria si hay identificador.
          </div>
        </div>




        <!-- Imagen -->
        <div class="form-group">
          <label>Imagen</label>
          <input type="file" class="form-control-file" (change)="onArchivoSeleccionado($event)">
        </div>


      <!-- Botón Guardar -->
      <button type="submit" class="btn btn-primary mt-3">Guardar muestra</button>
    </form>
  </div>
</div>
