<div *ngIf="muestraFiltrada" class="card">
  <p><strong>Conglomerado:</strong> {{ muestraFiltrada.conglomerado }}</p>
  <p><strong>Subparcela:</strong> {{ muestraFiltrada.numero_subparcela }}</p>

  <div class="form-group" *ngIf="form">
    <label>Especie</label>
    <app-dropdown
      [labelOption]="'label'"
      [valueOption]="'value'"
      [options]="especie"
      [selectedValue]="form?.get('id_especie')?.value"
      (select)="onEspecieSeleccionada($event)">
    </app-dropdown>
    <small class="text-danger" *ngIf="form?.get('id_especie')?.invalid && form?.get('id_especie')?.touched">
      Especie es requerida
    </small>
  </div>

  <p><strong>Altura:</strong> {{ muestraFiltrada.altura_arbol }} m</p>
  <p><strong>Diámetro:</strong> {{ muestraFiltrada.diametro_arbol }} cm</p>
  <p><strong>Observaciones:</strong> {{ muestraFiltrada.observaciones }}</p>
  <p><strong>Identificador Muestra:</strong> {{ muestraFiltrada.identificador_muestra }}</p>
  <p><strong>Tipo Muestra:</strong> {{ muestraFiltrada.tipo_muestra }}</p>
  <img
    *ngIf="muestraFiltrada.imagen_muestra"
    [src]="'data:image/jpeg;base64,' + muestraFiltrada.imagen_muestra"
    width="200"
  />


  
    <!-- Botón Guardar -->
  <button (click)="guardarCambios()" [disabled]="form?.invalid">Guardar Cambios</button>
</div>
