<h1 class="titulo-pagina">Análisis de Muestras - Laboratorio</h1>

<div class="busqueda">
  <input
    type="text"
    [(ngModel)]="codigoBusqueda"
    placeholder="Ingrese código de referencia"
  />
  <button (click)="buscarMuestra()">Buscar</button>
</div>

<!-- Si se encontró una muestra -->
<div *ngIf="muestraFiltrada" class="card">
  <p><strong>Conglomerado:</strong> {{ muestraFiltrada.conglomerado }}</p>
  <p><strong>Subparcela:</strong> {{ muestraFiltrada.numero_subparcela }}</p>

  <div class="form-group" *ngIf="form">
    <label>Especie</label>
    <app-dropdown
      [labelOption]="'label'"
      [valueOption]="'value'"
      [options]="especie"
      [selectedValue]="form?.get('id_especie')?.value"
      (select)="onEspecieSeleccionada($event)">
    </app-dropdown>
    <small class="text-danger" *ngIf="form?.get('id_especie')?.invalid && form?.get('id_especie')?.touched">
      Especie es requerida
    </small>
  </div>

    <!-- Botón para añadir nueva especie -->
  <button type="button" (click)="abrirModalAgregarEspecie()">Añadir nueva especie</button>


  <p><strong>Altura:</strong> {{ muestraFiltrada.altura_arbol }} m</p>
  <p><strong>Diámetro:</strong> {{ muestraFiltrada.diametro_arbol }} cm</p>
  <p><strong>Observaciones:</strong> {{ muestraFiltrada.observaciones }}</p>
  <p><strong>Identificador Muestra:</strong> {{ muestraFiltrada.identificador_muestra }}</p>
  <p><strong>Tipo Muestra:</strong> {{ muestraFiltrada.tipo_muestra }}</p>
  <img
    *ngIf="muestraFiltrada.imagen_muestra"
    [src]="'data:image/jpeg;base64,' + muestraFiltrada.imagen_muestra"
    width="200"
  />

  <!-- Botón Guardar Cambios -->
  <button (click)="guardarCambios()" [disabled]="form?.invalid">Guardar Cambios</button>

  <!-- Botón Agregar Análisis de Laboratorio -->
<button type="button" (click)="abrirModalAnalisisLaboratorio()">Agregar análisis de laboratorio</button>
</div>



<!-- Si no se encuentra ninguna -->
<div *ngIf="codigoBusqueda && !muestraFiltrada">
  <p>No se encontró ninguna muestra con ese identificador.</p>
</div>
