<main class="main-content">
  <section class="intro">
    <h2>Bienvenidoo al Sistema de Inventario Forestal Nacional</h2>
    <p>Este sistema permite visualizar, analizar y generar reportes sobre las especies y conglomerados forestales de Colombia. Aquí podrás encontrar información detallada sobre la biodiversidad del país.</p>

    <!-- carrucel -->
    <app-carrusel></app-carrusel>
  </section>

    <!-- 📌 Botones de Navegación -->
    <section class="buttons">
      <a routerLink="/reportes" class="btn">Generar Reportes</a>
      <a routerLink="/especies" class="btn">Ver Especies</a>
      <a routerLink="/mapa" class="btn">Ver Mapa</a>
    </section>

    <!-- 📌 Sección de Información -->
    <section class="info">
      <h2>¿Qué es el Inventario Forestal Nacional?</h2>
      <p>El Inventario Forestal Nacional (IFN) tiene como propósito ofrecer información precisa y actualizada sobre los recursos forestales en Colombia, permitiendo su conservación y aprovechamiento sostenible.</p>
      <div class="info-grid">
        <div class="info-box">
          <h3>Especies</h3>
          <p>Conoce las especies que habitan en Colombia, sus características y usos.</p>
          <img src="/imagenes/species.jpg" alt="Especies de plantas" class="info-img">
        </div>
        <div class="info-box">
          <h3>Mapa</h3>
          <p>Explora los conglomerados forestales y las zonas más ricas en biodiversidad a través del mapa interactivo.</p>
          <img src="/imagenes/map.jpg" alt="Mapa de conglomerados" class="info-img">
        </div>
      </div>
    </section>

    <!-- <img [src]="'http://localhost:3000/imagen_arbol/2'" alt="Árbol"> -->

    <section class="carousel">
      <div class="image-container">
          <img src="/imagenes/imagen1.jpg" alt="Arbol 1">
          <img src="/imagenes/imagen2.jpg" alt="Arbol 2">
          <img src="/imagenes/imagen3.jpg" alt="Arbol 3">
          <img src="/imagenes/imagen1.jpg" alt="Arbol 4">
          <img src="/imagenes/imagen2.jpg" alt="Arbol 5">
          <img src="/imagenes/imagen3.jpg" alt="Arbol 6">

          <img src="/imagenes/imagen1.jpg" alt="Arbol 1">
          <img src="/imagenes/imagen2.jpg" alt="Arbol 2">
          <img src="/imagenes/imagen3.jpg" alt="Arbol 3">
          <img src="/imagenes/imagen1.jpg" alt="Arbol 4">
          <img src="/imagenes/imagen2.jpg" alt="Arbol 5">
          <img src="/imagenes/imagen3.jpg" alt="Arbol 6">
      </div>
    </section>

  </main>
